//	Architectures
SDKROOT = auto
SUPPORTED_PLATFORMS = xrsimulator xros watchsimulator watchos macosx iphonesimulator iphoneos driverkit appletvsimulator appletvos

//	Deployment
DRIVERKIT_DEPLOYMENT_TARGET = 25.0
IPHONEOS_DEPLOYMENT_TARGET = 26.0
MACOSX_DEPLOYMENT_TARGET = 26.0
TARGETED_DEVICE_FAMILY = 1,2,3,4,6
TVOS_DEPLOYMENT_TARGET = 26.0
WATCHOS_DEPLOYMENT_TARGET = 26.0
XROS_DEPLOYMENT_TARGET = 26.0

//	Localization
STRING_CATALOG_GENERATE_SYMBOLS = NO
SWIFT_EMIT_LOC_STRINGS = NO

//	Packaging
GENERATE_INFOPLIST_FILE = YES
PRODUCT_BUNDLE_IDENTIFIER = coreaudio-fan.Utilities.Tests
PRODUCT_NAME = Utilities Tests
